#div-search{
    padding-top: 20px;
    align-items: flex-start;
}

.row{
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
}

.page-size{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
}

.page-size > p {
    color: white;
}

#li1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bg-dark);
    color: var(--bs-light);
}

.div-li {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-question{
    width: 70%;
}

.div-icon {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
}

.btn-icon {
    --bs-btn-padding-x: .40rem;
    --bs-btn-padding-y: .150rem;
}

.div-icon > a { 
    color: inherit; 
}

.modal-header{
    border-bottom-color: black;
}

.modal-footer{
    justify-content: center;
    border-top-color: black;
}

#questions{
    display: block;
    padding: 0.375rem 0.40rem 0.375rem ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#pagesize{
    display: block;
    padding: 0.375rem 0.40rem 0.375rem ;
    height: 35px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media(max-width: 500px) {

    #div-search{
        padding-top: 20px;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .div-li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-question{
        width: 60%;
    }
    
    .div-icon {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-icon {
        --bs-btn-padding-x: 2px;
        --bs-btn-padding-y: 2px;
    }
}