.img-container {
    padding-top: 3%;
    text-align: center;
}

#img{
    width: 35%;
}

.btn-container {
    padding-top: 3%;
    text-align: center;
}

.btn {
    width: 100px;
    margin: 0 1%;
    padding: 7px;
    background-color: blanchedalmond;
    color: darkolivegreen;
    border: 2px solid darkolivegreen;
    border-radius: 10px;
}