<div class="container">
    <div class="div-form">
        <div class="question"><p>{{question?.statement}}</p></div>
        <div class="answers">
            <button *ngFor="let answer of answers; let i = index" class="answer" (click)="respond(answer)"><div class="div-number">{{i+1}}</div>{{answer.description}}</button>
            <div class="div-btn">
                <button class="btn" (click)="deleteAnswers()" [disabled]="isDeleted">Eliminar duas perguntas</button>
                <button class="btn" (click)="stop()">Parar</button>
            </div>
            <div class="div-btn"><button class="btn" (click)="report()">Denunciar pergunta ou reposta</button></div>
        </div>
    </div>
    <div class="div-info">
        <div class="infos">
            <div class="infos1">
                <div><h3>Acertar </h3><p>{{info[0]}}</p></div>
            </div>
            <div class="infos2">
                <div><h3>Parar </h3><p>{{info[1]}}</p></div>
                <div><h3>Errar </h3><p>{{info[2]}}</p></div>
            </div>
        </div>
    </div>
</div>