*{
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.container{
    display: grid;
    flex-wrap: wrap;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "form info";
}
.div-form{
    position: absolute;
    left: 0px;
    opacity: 0.8;
    height: 100vh;
    background-color: var(--bs-primary);
    grid-area: form;
}

.div-info{
    grid-area: info;
}

.question{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    margin-top: 10%;
    background-color: var(	--bs-danger);
    border: 2px solid var(--bs-light);
    border-radius: 10px;
}

.question p {
    color: var(--bs-light);
}

.answers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answer{
    display: flex;
    flex-direction: row;
    gap: 30%;
    color: var(--bs-light);
    width: 50%;
    height: 45px;
    border: 2px solid var(--bs-light);
    border-radius: 10px;
    margin-top: 8px;
    background-color: var(--bs-danger);
}

.div-number{
    background-color: var(--bs-light);
    color: var(--bs-primary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 3px;
}

.div-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10%;
}

.div-btn .btn {
    padding: 10px;
    width: 15vw;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}

.div-btn button {
    color: var(--bs-light);
    border: 0;
    padding: 5px;
    border-radius: 10px;
    width: 80%;
    background-color: var(--bs-danger);
}

.div-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos{
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
}

.infos p {
    font-size: 1.2em;
    margin-top: 0.2em;
}

.infos1{
    font-family: 'Raleway';
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    width: 60%;
    height: 35%;
    background-color: #FFFF50;
    color: var(--bs-danger);
}

.infos1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.infos2{
    line-height: 18px;
    font-weight: 500;
    border-radius: 5px;
    font-family: 'Raleway';
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    height: 40%;
}

.infos2 div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFFF50;
    color: var(--bs-danger);
    height: 60%;
    width: 48%;
}