#div-search{
    padding-top: 20px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.row{
    text-align: center;
}

h3 {
    color: white;
}

p {
    color: white;
}

#li1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bg-dark);
    color: var(--bs-light);
}

.div-li {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-icon {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
}

.modal-header{
    border-bottom-color: black;
}

.modal-footer{
    justify-content: center;
    border-top-color: black;
}

.form-outline > label{
    width: 100%;
    color: black;
    display: block;
}

.form-outline > p {
    display: flex;
    align-items: start;
    justify-content: start;
    color: black;
}


.input{
    border: 2px solid black;
    border-radius: 6px;
    width: 100%;
    padding-bottom: 6px;
    background-color: var(--bs-light);
}

.input::placeholder{
    color: var(--bg-dark);
    padding-left: 8px;
}

.div-icon > a { 
    color: inherit; 
}

#svg-sucess {
    color: #198754;
}

#svg-attention {
    color: #ffc107;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
}

.page-size{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-validation::before {
    content: attr(data-count);
    background-color: red;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.7em;
    min-height: 1.7em;
    position: absolute;
    top: -4px;
    right: -4px;
    border-radius: 50%;
}

#questions{
    display: block;
    padding: 0.375rem 0.40rem 0.375rem ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media(max-width: 500px) {

    #div-search{
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .div-li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-question{
        width: 80%;
    }
    
    .div-icon {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }

    .page-size{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
}