
div {
    padding-top: 30%;
    text-align: center;
}

div > button {
    width: 100px;
    padding: 7px;
    background-color: var(--bs-light);
    color: var(	--bs-dark);
    border: 2px solid var(--bs-dark);
    border-radius: 10px;
}