<div class="container">
    <div class="div-form">
        <div class="question"><p>pergunta</p></div>
        <div class="answers">
            <button class="answer">resposta</button>
            <button class="answer">resposta</button>
            <button class="answer">resposta</button>
            <button class="answer">resposta</button>
            <div class="div-btn">
                <button class="btn">Eliminar duas perguntas</button>
                <button class="btn">Desistir</button>
            </div>
        </div>
    </div>
    <div class="div-info">
        <div class="infos">
            <div class="infos1">
                <div><h3>Acertando, você ganha</h3><p>1000 R$</p></div>
            </div>
            <div class="infos2">
                <div><h3>Desistindo, você ganha</h3><p>0 R$</p></div>
                <div><h3>Perdendo, você ganha</h3><p>0 R$</p></div>
            </div>
        </div>
        <div class="div-img"><img id="img" src="https://show-do-milhao.vercel.app/imagens/logo.png" alt="" class="images"></div>
       <div class="options"><div class="option"><button>Denunciar pergunta ou reposta</button></div></div>
    </div>
</div>