main {
    padding-top: 8%;
}

form{
    text-align: center;
}

h3{
    color: var(	--bs-primary);
    font-size: large;
}

#h3-form{
    height: 25px;
}

#h3-btn{
    margin-top: 10px;
}

input{
    border: 2px solid var(	--bs-primary);
    border-radius: 6px;
    width: 35%;
    padding-bottom: 6px;
    background-color: var(--bs-light);
}

input::placeholder{
    color: black;
    padding-left: 8px;
}

.btn{
    margin: 0 1%;
    padding: 5px;
    background-color: var(--bs-light);
    color: black;
    border: 2px solid var(	--bs-primary);
    border-radius: 10px;
}

.div-btn{
    margin-top: 10px;
}

#btn-create{
    background-color: var(--bs-light);
    color: black;
}

p {
    color: var(	--bs-primary);
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
 } 

p:before,
p:after {
    background-color:var(	--bs-primary);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 17%;
}
p:before {
    right: 0.5em;
    margin-left: -50%;
}
p:after {
    left: 0.5em;
    margin-right: -50%;
}