body {
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/assets/images/silvio_tela_inicial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}