.row{
    width: 500px;
    margin: auto;
    padding-top: 100px;
}

.card{
    box-shadow: 1px 1px 5px;
    padding: 15px;

}

.card-top{
    text-align: center;
}

.card-group{
    margin-bottom: 50px;
}

.card-group > label{
    width: 100%;
    color: black;
    display: block;
}

.form-outline > label{
    width: 100%;
    color: black;
    display: block;
}

#img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}