.row{
    width: 40%;
    margin: auto;
    padding-top: 100px;
}

.card{
    box-shadow: 1px 1px 5px;
    padding: 15px;
    background-color: blanchedalmond;
}

.card-top{
    text-align: center;
}

.card-group{
    margin-bottom: 50px;
}

.card-group > label{
    width: 100%;
    color: black;
    display: block;
}

.form-outline > label{
    width: 100%;
    color: black;
    display: block;
}

#img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.modal-header{
    border-bottom-color: darkolivegreen;
}

.modal-footer{
    border-top-color: darkolivegreen;
}

.input{
    border: 2px solid darkolivegreen;
    border-radius: 6px;
    width: 40%;
    padding-bottom: 6px;
    background-color: blanchedalmond;
}

.input::placeholder{
    color: darkolivegreen;
    padding-left: 8px;
}