.row{
    width: 40%;
    margin: auto;
    padding-top: 100px;
}

@media(max-width: 1000px){
    .row{
        width: 80%;
    }
}

p {
    color: black;
}

.card{
    border: 2px solid black;
    padding: 15px;
    background-color: var(--bs-light);
}

.card-top{
    text-align: center;
}

.card-group{
    gap: 10px;
    margin-bottom: 50px;
}

.card-group > label{
    color: black;
}

.form-outline > label{
    width: 100%;
    color: black;
    display: block;
}

#img{
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

.modal-header{
    border-bottom-color: black;
}

.modal-footer{
    justify-content: center;
    border-top-color: black;
}

.form-outline > label {
    color: black;
}

.input{
    border: 2px solid black;
    border-radius: 6px;
    width: 40%;
    padding-bottom: 6px;
    background-color: var(--bs-light);
}

.input::placeholder{
    color: var(--bg-dark);
    padding-left: 8px;
}