.row{
    width: 40%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

@media(max-width: 500px){
    .row{
        width: 100%;
    }
}


th {
    background-color: var(--bg-dark);
    color: var(--bs-light);
}

td {
    background-color: var(--bg-dark);
    color: var(--bs-light);
}


h3{
    color: var(--bs-light);
}