<app-navbar></app-navbar>
<app-alert></app-alert>

<div class="row">
    <div class="table-responsive">
        <h3>Hall da fama</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Posição</th>
                  <th scope="col">Nickname</th>
                  <th scope="col">Pontuação</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{user.nickname}}</td>
                  <td>R$ {{mask(user.totalAward.toString())}}</td>
                </tr>
              </tbody>
        </table>
    </div>
</div>